@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #008000, #004d00);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;

}
.back-button {
    border: none;
    font-size: 2rem;
    cursor: pointer;
    background-color: #004d00;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.kk {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    text-align: left;

}
.container {
    overflow-y: auto;
    height: 100vh;
}



