@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #008000, #004d00);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.home-container {
    position: relative;
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 2rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}

.menu-button-open, .menu-button-close {
    position: absolute;
    top: 15px; /* Ajusta este valor para mover el botón verticalmente */
    left: 15px; /* Ajusta este valor para mover el botón horizontalmente */
    align-self: flex-start;
    border: none;
    font-size: 8vw;
    cursor: pointer;
    background-color: #004d00;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    width: 12vw; /* Establece el ancho del botón */
    height: 12vw; /* Establece la altura del botón */
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 400px) {
    .menu-button-open, .menu-button-close {
        font-size: 35px; /* Tamaño máximo de fuente */
    }
}

.menu-button-close {
    position: absolute;
    left: 90%;
}

.menu-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #004d00;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    transform: translateX(-110%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.menu-dropdown.open {
    position: absolute;
    transform: translateX(0);
}

.menu-dropdown button:not(.menu-button-close) {
    display: block;
    width: 100%;
    padding: 1rem;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease;
}

.menu-dropdown button:hover {
    background: #218838;
}

.logo-home {
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100px; /* Ajustar la altura máxima del logo */
}

.bar {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.filters {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.team-card {
    container-type: inline-size;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.team-card:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-info h2 {
    margin: 0;
    font-size: 2rem;
}

.team-info .team-city {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
    color: #666;
}

.team-name {
    margin: 0;
    font-size: 2rem;
    max-width: 75%;
}

.team-elo {
    font-size: 1.25rem;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.report {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.incidents span {
    font-weight: bold;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1rem;
}

.report-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
    width: 100%;
}

.report-button button {
    width: auto;
    margin-bottom: 10px;
}

.no-reports {
    margin-top: 50px;
    font-size: 1.3rem;
    width: 100%;
}

.link {
    color: #007bff;
    text-decoration: none;
    font-size: 0.875rem;
}

.link:hover {
    text-decoration: underline;
}

