.cont{
    width: 100%;
    max-width: 1200px;
    max-height: 100vh;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    margin: auto;
    box-sizing: border-box;
}

.cabeza{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;

}