.rank-info {
    display: flex;
    flex-direction: column; /* Cambiar la dirección del eje principal a column */
    justify-content: space-between;
    width: 85%;
    height: 40px;
    background: green;
}

.team-index {
    position: absolute;
    left: 5%;
    font-size: 2rem;
    margin: 0;
    color: #000000;
}

.ranking-title {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 8rem;
}

@media (max-height: 800px) {
    .ranking-title {
        margin-top: 1rem;
    }
}

.header {
    font-size: 4rem;
}

.trophy {
    color: goldenrod;
}

@media (max-width: 350px) {
    .trophy {
        display: none;
    }
}